body {
  font-family: "Roboto";
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  color: rgb(255, 49, 49);
}

h3 {
  font-size: 1.7rem;
  color: rgb(0, 183, 255);
}

h4 {
  font-size: 1.3rem;
  color: rgb(230, 176, 0);
}

h5 {
  font-size: 1rem;
  color: rgb(178, 45, 255);
}

h6 {
  font-size: 0.8rem;
  color: rgb(82, 153, 0);
}
.item {
  border: coral 1px solid;
  width: 400px;
  height: 400px;
}
